.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-column-gap: 10px;
  justify-items: center;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}
.bills-pg {
    // height: 100vh;
  background: url(./assets/congressFloor.jpg)
    top center;
  background-size: cover;
}

.bill-msg {
  border: solid #718F94 5px;
  background-color: #ADA380;
  margin-top: 20px;
  padding: 10px;
  width: 90%;
  color: #151E3F;

  h3 {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
  }
}

.bill-container {
  justify-content: start;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 0;
}

.no-Bills {
  display: grid;
  background-color: #DBCFB0;
  margin: 25px 5px;
  padding: 5px;
  border: solid #718F94 4px;
  color: #420C14;
  height: 150px;
  align-items: start;
  justify-items: center;

  h4 {
    margin-left: 10px;
    text-align: center;
    font-size: 1rem;
    color: #151E3F;
    padding: 5px;
  }

  p {
    margin-left: 10px;
    font-size: .75rem;
  }
}

button {
    justify-self: end;
    padding: 10px;
    background-color: #420C14;
    border: solid #718F94 2px;
    color: #DBCFB0;
    border-radius: 20px;
    outline: none;
    margin: 10px;

    &.active {
      background-color: #718F94;
      border: solid #420C14 2px;
      outline: none;
    }

    &:hover {
      background-color: #718F94;
      border: solid #420C14 2px;
      outline: none;
    }

  }