.loading-msg {
  height: 20vh;
  border: solid #718F94 5px;
  background-color: #ADA380;
  margin-top: 20px;
  padding: 10px;
  width: 90%;
  color: #151E3F;

  h3 {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
  }
}