* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.App {
  background: url(./assets/billOfRights.png)
    no-repeat
    top center;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 5.5rem;
  color: #420C14;
  padding: 50px;
  text-shadow: 10px 10px 10px #DBCFB0;
  font-family: 'Philosopher', sans-serif;

    &:hover {
    color: #151E3F;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

.nav-section {
  background-color: #420C14;
  font-size: 1.25rem;
  font-family: 'Open Sans';
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  justify-content: space-around;
}

.nav {
  background-color: #DBCFB0;
  margin: 15px 5px;
  padding: 10px;
  border: solid #718F94 2px;
  color: #420C14;

  &.active {
    background-color: #718F94;
  }

  &:hover {
    background-color: #ADA380;
    color: #151E3F;
  }
}

.redirect {
  height: 100vh;
  background: url(./assets/library.png)
    no-repeat
    top center;
  background-size: cover;
    
    .lnk-redirect {display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    }

    h1 {
      background-color: #718F94;
      padding: 5px;
    }

    button {
    border: solid #718F94 10px;
    background-color: #DBCFB0;
    margin: 15px 5px;
    padding: 10px;
    color: #420C14;

    &:hover {
      background-color: #ADA380;
      color: #151E3F;
    }
    }

}