@import './containers/App/App';
@import './components/Welcome/Welcome';
@import './components/Display/Display';
@import './containers/Bills/Bills';
@import './containers/Card/Card';
@import './containers/Favorites/Favorites';
@import './components/Loading/Loading';



body {
  background-color: #DBCFB0;
  margin: 0;
  padding: 0;
}
